@media (min-width: 768px) {

	.tw-school-title {
		font-size: 44px;
		letter-spacing: 28px;
	}

	.tw-school-subtitle {
		font-size: 18px;
		letter-spacing: 4px;
	}

	.btn-study {
		margin-top: 50px;
	}

	.targets-img-bg {

		.card-title {
			font-size: 18px;
			letter-spacing: 2px;
		}
		.card-text {
			font-size: 18px;
		}
	}

	.targets-underline {
		width: 70%;
	}

	.student-vertical-line {
		height: 133px;
		margin-left: 30px;
		position: relative;
		top: 18px;
	}

	.online-center-description {
		width: 40%;
	}

	.about-us-description {
		width: 50%;
	}
}
