@media (max-width: 768px) {

	#navbar {
		.container {
			width: 100%;
			padding: 10px;
		}

		.navbar-collapse {
			margin-left: 0px;
		}
	}
	.tw-school-title {
		font-size: 34px;
		letter-spacing: 10px;
	}
	.tw-school-subtitle {
		font-size: 14px;
		letter-spacing: 1px;
		font-weight: lighter;
	}

	.btn-study {
		margin-top: 80px;
	}

	.targets-img-bg {
		width: 90%;

		.card-title {
			font-size: 20px;
			letter-spacing: 2px;
		}

		.card-text {
			font-size: 20px;
		}
	}

	.targets-description-subtitle {
		font-size: 32px;
		letter-spacing: 10px;
	}

	.targets-underline {
		width: 95%;
	}

	.online-center-bg {
		width: 100%;
	}

	.online-center-description {
		width: 75%;
	}

	.activity-name {
		div {
			font-size: 16px;
		}
	}
	.activity-description {
		font-size: 14px;
	}

	.student-testimonial {
		font-size: 16px;

		&::before {
			top: -18px;
			left: 8px;
		}
		&::after {
			bottom: -18px;
			right: 8px;
		}
	}

	.student-vertical-line {
		height: 60px;
		margin: 0 20px;
	}

	.about-us-description {
		width: 100%;
	}

	.copyright {
		text-align: center;
		margin-top: 20px;
	}

	.carousel-item {
		padding: 0 10px;
	}

	.carousel-control-prev {
		left: -10px;
	}

	.carousel-control-next {
		right: -10px;
	}
}
