@media (min-width: 768px) {

	#navbar {
		.navbar-collapse {
			margin-left: 128px;
		}
	}
	.tw-school-title {
		font-size: 44px;
		letter-spacing: 28px;
	}

	.tw-school-subtitle {
		font-size: 18px;
		letter-spacing: 4px;
	}

	.btn-study {
		margin-top: 50px;
	}

	.targets-img-bg {

		.card-title {
			font-size: 18px;
			letter-spacing: 2px;
		}
		.card-text {
			font-size: 18px;
		}
	}

	.targets-description-subtitle {
		font-size: 32px;
		letter-spacing: 16px;
	}

	.targets-underline {
		width: 70%;
	}

	.activity-btn {
		.btn {
			padding: 12px 20px;
			font-size: 18px;
		}
	}

	.student-vertical-line {
		height: 133px;
		margin-left: 30px;
		position: relative;
		top: 18px;
	}

	.online-center-description {
		width: 40%;
	}

	.about-us-description {
		width: 50%;
	}

	.carousel-control-prev-icon, .carousel-control-next-icon {
		height: 35px;
	}
	.carousel-control-prev {
		left: -30px;
	}

	.carousel-control-next {
		right: -30px;
	}
}
